<h2>routing angular</h2>

<!-- 48. configuring routs -->
<!-- 49. Page Not Found, Whildcards, pathMatch in Angular Routs -->
<a routerLink="home">Home</a>
<br>
<a routerLink="pipe">Pipe</a>
<br>

<!-- 54. Absolute and Relative Path in Angular Routing (click  here to see topic) -->
<a routerLink="interpolation">Interpolation</a>
<br>
<a routerLink="event">Event</a>
<br>

<!-- 50, 51. Route parameter | Dynamic Routing in Angular -->
<!-- 52. ParamMap Observable in Angular Routing -->
<a routerLink="routing-employees">Employees</a>
<br>

<!-- 55. Child Routes Or Nested Routes -->
<a routerLink="routing-parent">Parent</a>
<br>

<!-- 57. Auxiliary Routes | Named Routes | Multiple Routes -->
<a [routerLink]="[{ outlets: { outlet2:['student-data'] } }]">All Students</a>
<br>
<a [routerLink]="[{ outlets: { outlet3:['class-binding'] } }]">Class Binding Component</a>

<!-- All Router Outlet -->
<hr>
<router-outlet></router-outlet>
<hr>
<router-outlet name="outlet2"></router-outlet>
<hr>
<router-outlet name="outlet3"></router-outlet>
