<!---------------------- Passing data Parent to Child Component ------------------------>
<div style="background-color: azure;">
    <h1>Parent Component</h1>

    <!-- Introduction -->
    <p>This example demonstrates how to pass data from parent to child component using Angular.</p>

    <!-- Passing single data -->
    <app-child [data]="singleData"></app-child>

    <!-- Updating child data from parent -->
    <app-child [data]="updatedData"></app-child>
    <button (click)="updateData()">Update Child Data</button>

    <!-- Passing an array -->
    <app-child [arrayData]="arrayData"></app-child>

    <!-- Passing an object -->
    <app-child [objectData]="objectData"></app-child>

</div>

<!---------------------- Passing data child to Parent Component ------------------------>
<div style="background-color: chocolate;">
    <h1>Parent Component</h1>

    <!-- Introduction -->
    <p>This example demonstrates how to pass data from child to parent component using Angular.</p>

    <!-- Receiving single data -->
    <app-child (sendData)="onReceiveData($event)"></app-child>
    <p>Received Data: {{ receivedData }}</p>

    <!-- Receiving an array -->
    <app-child (sendArray)="onReceiveArray($event)"></app-child>
    <div *ngIf="receivedArray">
        <h3>Received Array:</h3>
        <ul>
            <li *ngFor="let item of receivedArray">{{ item }}</li>
        </ul>
    </div>

    <!-- Receiving an object -->
    <app-child (sendObject)="onReceiveObject($event)"></app-child>
    <div *ngIf="receivedObject">
        <h3>Received Object:</h3>
        <p>Name: {{ receivedObject.name }}</p>
        <p>Age: {{ receivedObject.age }}</p>
    </div>


</div>