<!-- <app-interpolation></app-interpolation> -->
<!-- <app-events></app-events> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-ng-class-dir></app-ng-class-dir> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-template-reference></app-template-reference>  -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-structure-directives></app-structure-directives> -->
<!-- <app-bootstrap></app-bootstrap> -->

<!-- How to pass data parent to child component -->
<!-- How to pass data child to parent component -->
<!-- <app-parent></app-parent> -->

<app-pipes></app-pipes>