<!-- <app-interpolation></app-interpolation> -->
<!-- <app-events></app-events> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-ng-class-dir></app-ng-class-dir> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-template-reference></app-template-reference>  -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-structure-directives></app-structure-directives> -->
<!-- <app-bootstrap></app-bootstrap> -->

<!-- How to pass data parent to child component -->
<!-- How to pass data child to parent component -->
<!-- <app-parent></app-parent> -->

<!-- <app-pipes></app-pipes> -->

<!-- 30,31 Service and Dependency injection -->
<!-- Injecting student service in student-data component -->
<!-- <app-student-data></app-student-data> -->

<!-- Calling API (32, 33) -->
<!-- users.component, user.service -->
<!-- <app-users></app-users> -->

<!-- template driven form (35 - 40) -->
<!-- <app-template-driven-form></app-template-driven-form> -->

<!-- Reactive form (41 - 45) -->
<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-custom-directive></app-custom-directive> -->

<!-- 47 to 57. Routing -->
<!-- <app-routing></app-routing> -->

<!-- 58.  Content Projection | ng-Content Angular -->
<!-- Components (ng-content-course, ng-content) -->
<app-ng-content-course></app-ng-content-course>